<app-navbar></app-navbar>

<h1>IPERTENSIONE ARTERIOSA</h1>
<div>


  <h3>Cos'è L'IPERTENSIONE ARTERIOSA?</h3>

  <p>L’ipertensione arteriosa è una condizione caratterizzata dall’elevata pressione del sangue nelle arterie, che è determinata dalla quantità di sangue che viene pompata dal cuore e dalla resistenza delle arterie al flusso del sangue. Interessa circa il 30% della popolazione adulta di entrambi i sessi e, nelle donne, è più frequente dopo la menopausa.</p>

  <h3>Che cosa comporta</h3>

  <p>L’ipertensione arteriosa non è una malattia, ma un fattore di rischio, ovvero una condizione che aumenta la probabilità che si verifichino altre malattie cardiovascolari (per esempio: angina pectoris, infarto miocardico, ictus cerebrale). Per questo, è importante individuarla e curarla: per prevenire i danni che essa può provocare.

    Si parla di ipertensione arteriosa sistolica quando solo la pressione massima è aumentata; al contrario, nell’ipertensione diastolica, sono alterati i valori della pressione minima. Si definisce ipertensione sisto-diastolica la condizione in cui entrambi i valori di pressione (minima e massima) sono superiori alla norma.

    Classicamente, e come conseguenza delle modificazioni che avvengono nell’organismo per effetto dell’invecchiamento, gli anziani e i grandi anziani (ultranovantenni) soffrono più spesso di ipertensione arteriosa sistolica isolata, con valori di pressione massima anche molto alti, e pressione minima bassa. Le forme di ipertensione diastolica isolata, al contrario, sono più frequenti nei soggetti più giovani.</p>

  <h3>I sintomi</h3>

  <p>L’aumento dei valori pressori non sempre si accompagna alla comparsa di sintomi, specie se avviene in modo non improvviso: l’organismo si abitua progressivamente ai valori sempre un po’ più alti, e non manda segnali al paziente. Per questo, molte delle persone affette da ipertensione non lamentano sintomi, anche in presenza di valori pressori molto elevati.

    In ogni caso, i sintomi legati all’ipertensione arteriosa non sono specifici, e per questo sono spesso sottovalutati o imputati a
    condizioni diverse. Tra i sintomi più comuni rientrano:</p>
    <ul>
      <li>Mal di testa, specie al mattino</li>
      <li>Stordimento e vertigini</li>
      <li>Ronzii nelle orecchie (acufeni, tinniti)</li>
      <li>Alterazioni della vista (visione nera, o presenza di puntini luminosi davanti agli occhi)</li>
      <li>Perdite di sangue dal naso (epistassi)</li>
    </ul>
    <p>
    Nei casi di ipertensione secondaria, ai sintomi aspecifici possono associarsene altri, più specifici, dovuti alla malattia di base.

    La scarsità dei sintomi e la loro aspecificità sono il motivo principale per cui spesso il paziente non si accorge di avere la
    pressione alta. Per questo è fondamentale controllare periodicamente la pressione: fare diagnosi precoce di ipertensione arteriosa significa prevenire i danni ad essa legata e, quindi, malattie cardiovascolari anche invalidanti.</p>


  <h3>La diagnosi</h3>
  <p>
    La misurazione della pressione arteriosa viene espressa attraverso due valori, pressione sistolica (massima) e pressione diastolica (minima), che dipendono dal fatto che il muscolo cardiaco si contrae (sistole) e si rilassa (diastole) tra un battito e l’altro.

I valori normali per la popolazione adulta sono compresi entro i 140/85 mmHg. Pertanto, si parla di ipertensione quando uno o entrambi i valori di pressione sono costantemente superiori alla norma.

Poiché l’incremento dei valori pressori spesso non si accompagna a sintomi e poiché, quando presenti, questi non sono specifici, il solo modo per fare diagnosi di ipertensione arteriosa è quello di sottoporsi periodicamente a misurazioni della pressione. In caso contrario, può succedere che si faccia diagnosi quando i valori di pressione, alti da parecchio tempo,
hanno già fatto danno o, addirittura, in occasione di eventi acuti (infarto miocardico, ictus cerebrale).

Una volta fatta diagnosi di ipertensione arteriosa, è utile sottoporsi ad alcuni esami che permettono di capire se l’ipertensione ha già danneggiato i vasi, il cuore, i reni, aiutando il medico nella definizione del profilo di rischio cardiovascolare dei pazienti e nella scelta della terapia antiipertensiva più adatta.</p>


  <h3>Trattamenti</h3>
  <p>
    Il trattamento dell’ipertensione arteriosa, anche quando preveda il ricorso a farmaci, non può assolutamente prescindere da cambiamenti nello stile di vita.

L’obiettivo del trattamento della pressione arteriosa deve essere quello di riportare i valori pressori alla normalità (cioè, entro i 140/85 mmHg, a meno di patologie concomitanti, che impongono valori di pressione più bassi): non basta, pertanto, abbassare un po’ la pressione, ma è importante normalizzarla (diversamente, il rischio di incorrere in malattie cardiovascolari resterà aumentato).

Una dieta povera di sale, l’attività fisica moderata e costante (30 minuti/die di camminata veloce o di cyclette), il controllo del peso corporeo (la perdita di peso, in caso di sovrappeso/obesità), l’astensione dal fumo di sigaretta, un consumo controllato di alcoolici, sono tutti atteggiamenti raccomandabili in caso di riscontro di aumentati valori pressori. Nei casi di lievi aumento della pressione arteriosa, ed in assenza di altri fattori di rischio associati (fumo, diabete, ipercolesterolemia, obesità), queste modificazioni dello stile di vita possono essere la sola terapia prescritta dal medico, e possono essere efficaci nel riportare la pressione arteriosa a valori normali.

Una volta fatta diagnosi di ipertensione arteriosa e riviste le abitudini di vita, può essere necessario intraprendere una terapia farmacologica, il cui scopo è proprio quello di normalizzare la pressione arteriosa.

È importante sapere che la terapia antiipertensiva è una terapia cronica, che va assunta per molti anni (raramente succede che un paziente iperteso ad un certo punto possa smettere di assumere i farmaci per la pressione).

I farmaci di cui disponiamo sono molti, ed agiscono sul controllo della pressione arteriosa con meccanismi diversi; sono tutti efficaci e sicuri, e la scelta del tipo di antiipertensivo da utilizzare viene fatta dal medico sulla scorta della storia del paziente e della presenza di altre patologie associate.

In alcuni pazienti l’uso di un solo antiipertensivo è sufficiente per normalizzare la pressione arteriosa, in altri è necessario
ricorrere all’associazione di più farmaci, che agendo con meccanismi diversi concorrono al controllo della pressione. Dover assumere più antiipertensivi non significa avere un’ipertensione più aggressiva: semplicemente, ogni paziente risponde in modo diverso alle singole terapie. Per questo, trovare il o i farmaci efficaci e meglio tollerati può richiedere un po’ di tempo. E può anche succedere che dopo anni di terapia, un paziente richieda l’aggiunta o il cambio di un farmaco: non è colpa dell’antiipertensivo che perde efficacia, ma è l’effetto della pressione arteriosa, che con gli anni cambia.

In alcuni pazienti, l’utilizzo anche di 4-5 farmaci antiipertensivi a dosaggio pieno non è sufficiente a controllare la pressione
arteriosa; si parla, in questi casi, di ipertensione arteriosa resistente. Recentemente sono state proposte nuove terapie non farmacologiche per il trattamento di queste forme di ipertensione arteriosa (denervazione delle arterie renali).

Farmaci antiipertensivi:</p>
<ul>
  <li><b>ACE inibitori</b>, antagonisti del recettore per l’angiotensina II (Angiotensin II receptor Blocker – ARBs) o sartani, inibitori diretti della renina: abbassano la pressione interferendo con la produzione di alcune sostanze circolanti che compongono il cosiddetto sistema renina-angiotensina-aldosterone. Ogni classe di farmaci è attiva in un punto di verso di questo sistema.</li>
  <li><b>Calcio antagonisti</b>: controllano la pressione inducendo vasodilatazione.</li>
  <li><b>Diuretici</b>: aiutano l’organismo a smaltire acqua e sali minerali (sodio)</li>
  <li><b>Alfa e beta bloccanti</b>: agiscono a livello dei meccanismi nervosi di controllo periferico della pressione arteriosa</li>
  <li><b>Simpaticolitici ad azione centrale</b>: agiscono a livello dei meccanismi nervosi di controllo centrale (sistema nervoso centrale) della pressione arteriosa</li>
</ul>

  <h3>I fattori di rischio e Cause</h3>

  <p>L’ipertensione arteriosa può essere classificata in primaria e secondaria.

    Nell’ipertensione arteriosa primaria (o essenziale), che rappresenta circa il 95% dei casi di ipertensione, non esiste una causa precisa, identificabile e curabile: gli elevati valori pressori sono il risultato dell’alterazione dei meccanismi complessi che regolano la pressione (sistema nervoso autonomo, sostanze circolanti che hanno effetto sulla pressione).

    Nel restante 5% dei casi, invece, l’ipertensione è la conseguenza di malattie, congenite o acquisite, che interessano i reni, i surreni, i vasi, il cuore, e per questo viene definita ipertensione secondaria. In questi casi, l’individuazione e la rimozione delle cause (cioè, la cura della malattia di base) può accompagnarsi alla normalizzazione dei valori pressori.

    A differenza dell’ipertensione arteriosa essenziale, che classicamente interessa la popolazione adulta, l’ipertensione secondaria interessa anche soggetti più giovani e spesso si caratterizza per valori di pressione più alti e più difficilmente controllabili con la terapia farmacologica.

    È importante sottolineare che in alcuni casi l’aumento dei valori di pressione arteriosa dipende dall’uso (talvolta dall’abuso) di alcune sostanze tra cui, per esempio, la liquirizia, gli spray nasali, il cortisone, la pillola anticoncezionale, la cocaina e le amfetamine. In questi casi, sospendendo l’assunzione di queste sostanze, i valori pressori tornano alla normalità.</p>

</div>

<app-footer></app-footer>
