<app-navbar></app-navbar>
<main>
  <div class="main">
    <div class="ass-anziani">
      <div class="img">
        <img src="assets/img/prelievo-sangue.jpg">
      </div>
      <div class="img-descrizione">
        <h1>Prelievi ed esami a domicilio</h1>
        <p>Il Tuo Infermiere esegue a domicilio i prelievi ematici e la raccolta di campioni biologici (urine, espettorato, tamponi, ecc…) recandosi a casa tua evitando che tu debba spostarti e fare file snervanti.
          Un Infermiere esperto nei prelievi a domicilio, svolgerà la prestazione a casa tua e l’esito ti arriverà via mail in tempi brevi.</p>
      </div>
    </div>
    <div class="button">
      <button class="btn" href="#servizi-semplici">Servizi semplici</button>
      <button class="btn" href="#servizi-complessi">Servizi complessi</button>
      <button class="btn" href="#assistenza-diretta">Assistenza diretta</button>
    </div>
  </div>

  <!-----SERVIZI--------------------------------->

  <div id="#servizi-semplici" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneA container-fluid">
        <h1>Servizi assistenziali semplici</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/serv-prelievo.jpg">
          </div>
          <div class="descrizione">
            <p>Basta un clic nella nostra App per richiedere un esame di laboratorio completo, ci occuperemo di inviare il materiale ai laboratori convenzionati e di inviare il referto via mail.</p>
            <ul>
              <li>Esame della coagulazione e assetto coagulativo</li>
              <li>Misurazione della glicemia dal dito</li>
              <li>Check up DONNA</li>
              <li>Check up UOMO</li>
              <li>Check up cardiovascolare</li>
              <li>Check up per lo sportivo</li>
              <li>Check up prostata</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>


  <!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Servizi complessi</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/serv-urine.jpg">
          </div>
          <div class="descrizione">
            <p>Questo tipo di esame comporta una più lunga trafila burocratica e un’accortezza nella raccolta dei campioni.</p>
            <ul>
              <li>Esame delle droghe nelle urine e nel capello</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
