<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid ncc-navbar">
    <a class="navbar-brand" href="#"><img src="assets/img/logo-trasparente.png" style="width: 200px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <h3 class="navbar-brand" style="color: white; font-weight: 600; align-items: center;">BENVENUTO {{user.nome}} {{user.cognome}}!</h3>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            IL TUO PROFILO
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/dettagli-profilo']" routerLinkActive="active">VISUALIZZA DATI</a></li>
            <li><a class="dropdown-item" [routerLink]="['/profilo-personale']" routerLinkActive="active">AGGIUNGI ESPERIENZE LAVORATIVE</a></li>
          </ul>
        </li>

      </ul>
      <div>
        <a [routerLink]="['/home']" routerLinkActive="active" class="link"><i class="bi bi-box-arrow-right" style="color: white; font-size: 40px;"></i></a>
      </div>
    </div>
  </div>
</nav>


<!-------------------------------------CORPO----------------------------------->
<main>
  <div class="container-fluid container-dati">
    <div class="dati-anagrafici">
      <h2>I tuoi dati anagrafici</h2>
      <p>Nome: <b>{{user.nome}}</b></p>
      <p>Cognome: <b>{{user.cognome}}</b> </p>
      <p>Data di nascita: <b>{{ user.dataNascita }} </b></p>
      <p>Indirizzo di residenza: <b> {{user.indirizzo}}</b>, <b>{{user.zipCode}}</b>, <b> {{user.citta}} </b>
      </p>
    </div>

    <div class="contatti">
      <h2>Contatti</h2>
      <p>Numero di cellulare: <b>{{user.number}}</b></p>
      <p>Email: <b>{{user.email}}</b></p>
    </div>

    <div class="professione">
      <h2>Profilo Professionale</h2>
      <p>Professione: <b>{{user.professione}}</b></p>
      <p>Numero di iscrizione all'albo: <b>{{user.nAlbo}}</b></p>
      <p>Anni di esperienza: <span *ngFor="let anno of anni"><b>{{ anno.anni }}</b></span> </p>
        <button class="btn btn-custom-join" type="submit" (click)="aggiungiAnni()">Aggiungi/Modifica anni di esperienza</button>
    </div>



<div class="esperienza">
  <h2>Titoli di studio</h2>
  <ul *ngFor="let titolo of titoli">
    <li><b>{{ titolo.titolo }}</b></li>

  </ul>
  <button class="btn btn-custom-join" type="submit" (click)="aggiungiMaster()">Aggiungi Titoli</button>
</div>


<!------------------------------------------------>

  <div class="esperienza">
    <h2>Esperienze Lavorative</h2>
    <table class="table mb-4">
      <thead>
        <tr>
          <th scope="col">Datore di lavoro</th>
          <th scope="col">Descrizione lavoro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competenza of competenze">
          <td><b>{{ competenza.titolo }}</b></td>
          <td>{{ competenza.descrizione }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-custom-join" type="submit" (click)="vaiAggiungiSkills()">Aggiungi Esperienza</button>
  </div>

  <!------------------------------------------------>


</div>



</main>






