<app-navbar></app-navbar>
<main>
  <div class="main">
    <div class="ass-anziani">
      <div class="img">
        <img src="assets/img/catetere-stomie.jpg">
      </div>
      <div class="img-descrizione">
        <h1>Gestione di Cateteri e Stomie a domicilio</h1>
        <p>
          Cateteri e stomie sono pratiche che richiedono precisione, con una particolare cura e attenzione verso il paziente in terapia.
          Il Tuo Infermiere offre servizi specializzati per cateteri e stomie a domicilio.
          </p>
      </div>
    </div>
    <div class="button">
      <button class="btn" href="#servizi-semplici">Servizi semplici</button>
      <button class="btn" href="#servizi-complessi">Servizi complessi</button>
    </div>
  </div>

  <!-----SERVIZI--------------------------------->
  <div id="#servizi-semplici" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Servizi semplici</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/stomia.jpg">
          </div>
          <div class="descrizione">
            <p>A volte basta un controllo del palloncino di tenuta o una valutazione della situazione per rimediare ad un inconveniente.</p>
            <ul>
              <li>Controllo catetere</li>
              <li>Controllo stomia</li>
              <li>Controllo SNG (sondino naso-gastrico)</li>
              <li>Controllo PEG</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>
  <!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Servizi complessi</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/catetere.webp">
          </div>
          <div class="descrizione">
            <p>Il cambio del catetere vescicale generalmente va effettuato ogni mese. Programmare per tempo la sostituzione previene infezioni e formazioni di residui che vanno inevitabilmente ad ostacolare la fuoriuscita delle urine.</p>
            <ul>
              <li>Cambio del catetere vescicale al domicilio</li>
            </ul>
          </div>


        </div>
      </div>
    </div>
    <hr>
  </div>

<!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Assistenza diretta</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/teleconsulto.jpg">
          </div>
          <div class="descrizione">
            <p>Poi parlare direttamente con un infermiere e richiedere un consulto in teleconferenza attraverso il tuo telefonino.</p>
            <ul>
          <li>Teleconferenza e Teleconsulto</li>
        </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
