<app-navbar></app-navbar>
<main>
  <div class="main">
    <div class="ass-anziani">
      <div class="img">
        <img src="assets/img/assistenza-anzini.jpeg">
      </div>
      <div class="img-descrizione">
        <h1>Assistenza anziani a domicilio</h1>
        <p>Le persone anziane sono il bene più prezioso che una comunità evoluta possiede e che deve assolutamente preservare! Il Tuo Infermiere vuole curarli a casa loro, evitando inutili spostamenti e interminabili code. Scopri tutti i nostri servizi di assistenza anziani a domicilio.</p>
      </div>
    </div>
    <div class="button">
      <button class="btn" href="#servizi-semplici">Servizi semplici</button>
      <button class="btn" href="#servizi-complessi">Servizi complessi</button>
      <button class="btn" href="#apparecchiature">Uso di apparecchiature</button>
      <button class="btn" href="#assistenza-diretta">Assistenza diretta</button>
    </div>
  </div>

  <!-----SERVIZI--------------------------------->

  <div id="#servizi-semplici" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneA container-fluid">
        <h1>Servizi assistenziali semplici</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/ass-semplice.jpg">
          </div>
          <div class="descrizione">
            <p>I servizi semplici rivolti all’assistenza anziani prevedono un tempo d’intervento ed un costo contenuti, sono solitamente prestazioni sanitarie specifiche su interventi mirati a risolvere un bisogno non complesso poco invasive.</p>
            <ul>
              <li>Misurazione parametri vitali</li>
              <li>Prelievo di sangue venoso</li>
              <li>Prelievo da capillare</li>
              <li>Prelievo di campioni biologici</li>
              <li>Preparazione e somministrazione farmaci</li>
              <li>Medicazione semplice</li>
              <li>Aiuto nella mobilizzazione</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>


  <!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Servizi assistenziali complessi</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/ass-complessa.jpg">
          </div>
          <div class="descrizione">
            <p>I servizi complessi per l’assistenza anziani implicano una molteplicità di elementi con aspetti non sempre risolutivi e di difficoltà elevata. Non sempre risolutivi al bisogno ma indispensabili per una cura efficace, di solito il trattamento è invasivo.</p>
            <ul>
              <li>Infusione di farmaci prescritti per via parenterale</li>
              <li>Ipodermoclisi</li>
              <li>Somministrazione farmaci e gestione SNG</li>
              <li>Somministrazione farmaci e gestione PEG</li>
              <li>Addestramento ed educazione all'utilizzo dei presidi</li>
              <li>Gestione accessi venosi centrali e periferici</li>
              <li>Medicazioni complesse</li>
              <li>Gestione catetere vescicale e stomie</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>


  <!-- <div id="servizi-complessi">
    <div class="complesse">
      <div class="img">
        <img src="assets/img/ass-complessa.jpg" style="width: 300px;">
      </div>
      <div class="img-descrizione">
        <h1>Servizi assistenziali complessi</h1>
        <p>I servizi complessi per l’assistenza anziani implicano una molteplicità di elementi con aspetti non sempre risolutivi e di difficoltà elevata. Non sempre risolutivi al bisogno ma indispensabili per una cura efficace, di solito il trattamento è invasivo.</p>
        <ul>
          <li>Infusione di farmaci prescritti per via parenterale</li>
          <li>Ipodermoclisi</li>
          <li>Somministrazione farmaci e gestione SNG</li>
          <li>Somministrazione farmaci e gestione PEG</li>
          <li>Addestramento ed educazione all'utilizzo dei presidi</li>
          <li>Gestione accessi venosi centrali e periferici</li>
          <li>Medicazioni complesse</li>
          <li>Gestione catetere vescicale e stomie</li>
        </ul>
      </div>
    </div>
  </div> -->

  <!--------------------------------------------------------->

    <div id="apparecchiature" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneA container-fluid">
        <h1>Uso di apparecchiature</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/apparecchiature.jpg">
          </div>
          <div class="descrizione">
            <p>L’utilizzo di apparecchiature è alle volte indispensabile durante l’assistenza degli anziani aiutandoci a far fare diagnosi in tele refertazione o a risolvere problemi anche gravi di salute intervenendo tempestivamente.</p>
            <ul>
          <li>Elettrocardiogramma a domicilio</li>
          <li>Holter Pressorio</li>
          <li>Holter Cardiaco</li>
          <li>Polisonnografia</li>
        </ul>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>

<!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Assistenza diretta</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/diretta.jpg">
          </div>
          <div class="descrizione">
            <p>L’assistenza diretta per assistenza sanitaria si basa su interventi che mirano a ristabilire o a stabilizzare una situazione di benessere. Implicano molto spesso la presenza diretta dell’infermiere.</p>
            <ul>
          <li>Assistenza con cure igieniche personalizzate</li>
          <li>Accompagnamento per viaggi e spostamenti</li>
          <li>Posizionamento di sondino naso gastrico e catetere vescicale</li>
          <li>Polisonnografia</li>
        </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
