<app-home></app-home>
  <div class="sfondo d-flex align-items-center">
  <div class="form-box m-auto">
    <form class="form" #form="ngForm">
      <img
        src="assets/img/NCC_logo.png"
        alt=""
        srcset=""
        class="m-auto"
      />

      <span class="subtitle text-white">Crea un account con la tua mail.</span>
      <div class="form-container">
        <input
          type="text"
          class="form-control"
          name="nome"
          placeholder="Nome"
          required
          [(ngModel)]="nome"
          id="nome"
        />
        <input
          type="text"
          class="form-control"
          name="cognome"
          placeholder="Cognome"
          required
          [(ngModel)]="cognome"
          id="cognome"
        />

        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="e-mail"
          required
          [(ngModel)]="email"
        />

        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required
          [(ngModel)]="password"
        />
      </div>
      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn btn-primary mt-3"
        (click)="registra()"
      >
        Registrati
      </button>
      <!-- <span
        *ngIf="isLoading"
        class="spinner-border spinner-border-sm"
        role="status"
      ></span> -->
    </form>
    <div class="form-section">
      <p class="text-secondary">
        Hai già un account?
        <!-- <a
          class="nav-link regisrati"
          style="color: #e50914"
          [routerLink]="['/login']"
          routerLinkActive="active"
          >Accedi</a
        > -->
      </p>
    </div>
  </div>
</div>
