<app-navbar></app-navbar>
<main>
  <div class="container-fluid cont-chisiamo">
    <div class="chi-siamo">
      <h1>Chi Siamo?</h1>
      <h5>Una rete di professionisti che non si limita all'assistenza prestazionale, ma che si prende cura di voi e della vostra famiglia. </h5>
    </div>
    <div class="rete">
      <div class="portale">
        <h3>Portale Nurse Care</h3>
        <p>
          Il nostro portale ha selezionato gli infermieri professionisti del territorio che svolgono la loro attività a casa delle persone, i quali conoscono le problematiche risolutive al vostro problema e che possono raggiungervi a casa vostra ovunque voi siate.
          </p>
      </div>
      <div class="territorio">
        <h3>Territorio e Qualifiche</h3>
        <p>Siamo infermieri di famiglia che conoscono bene il territorio, altamente qualificati e iscritti all’Ordine della professione (FNOPI). Possiamo farvi accedere velocemente ad una rete di servizi socio assistenziali in tempistiche brevi e prenderci cura di voi o dei vostri cari garantendo il miglior percorso terapeutico possibile.</p>
      </div>
    </div>

  </div>
</main>

<app-footer></app-footer>
