

.ncc-navbar{
  background-color: #1d1f61;
}

nav {
  padding: 0;
}

.nav-items{
  justify-content: end;
  flex-wrap: nowrap;
}

.nav-items li a{
  color: white;
  cursor: pointer;
}

.nav-items li a:hover{
  color: #de2086;
}

.dropdown-menu{
  background-color: #1d1f61;
  border: 1px solid #de2086;
}

.dropdown-menu li{
  text-decoration: underline #de2086;
}

.btn-custom-join{
  background-color: #1d1f61;
  color: white;
  font-weight: 700;
  font-size: 100%;
  border: 2px solid #de2086;
  border-radius: 5px;
  // padding: 1% 9%;
  transition: background-color 1s ease;
  transition: color 1s ease;
  margin: 10px 0px;
  width: fit-content;
  padding: 2px 30px;
  flex-wrap: nowrap;
}

.btn-custom-join:hover{
  background-color: #de2086;
  color: white;
}

//FORM------------------------------------------------------------

.sfondo{
  width: 100%;
  display: flex;
  background-color: white;
  margin-top: 20px;
}

.sfondo .form-box{
  width: 97%;
}

.form-box h2{
  text-align: center;
}

.btn-aggiungi{
  background-color: rgb(226, 230, 252);
  color: #1d1f61;
  border: 1px solid #1d1f61;
  margin-top: 10px;
}

.btn-aggiungi:hover{
  background-color: #1d1f61;
  color: white;
}

label {
  color: #1d1f61;
}


@media screen and (max-width: 767px) {
 tbody .button{
  display: flex;
  flex-direction: column;
  width: fit-content;
 }
}




