<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid ncc-navbar">
    <a class="navbar-brand" href="#"><img src="assets/img/logo-trasparente.png" style="width: 200px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <h3 class="navbar-brand" style="color: white; font-weight: 600; align-items: center;">BENVENUTO {{user.nome}} {{user.cognome}}!</h3>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            IL TUO PROFILO
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/dettagli-profilo']" routerLinkActive="active">VISUALIZZA DATI</a></li>
            <li><a class="dropdown-item" [routerLink]="['/profilo-personale']" routerLinkActive="active">AGGIUNGI COMPETENZE</a></li>
          </ul>
        </li>

      </ul>
      <div>
        <a [routerLink]="['/home']" routerLinkActive="active" class="link"><i class="bi bi-box-arrow-right" style="color: white; font-size: 40px;"></i></a>
      </div>
    </div>
  </div>
</nav>


<div class="sfondo ">
  <div class="form-box m-auto mb-4">
    <form class="form" (ngSubmit)="submit()" #competenzeForm="ngForm">

      <h2 class="subtitle mb-3"><b>Aggiungi i titoli di studio</b></h2>

      <div class="form-container">
        <label for="titolo"><b>La tua formazione</b></label>
        <input
          type="text"
          class="form-control mb-3"
          name="titolo"
          placeholder="Aggiungi titolo di studio"
          required
          [(ngModel)]="titoli.titolo"
          id="titolo"
        />
      </div>
      <button type="submit" class="btn btn-aggiungi">Aggiungi titoli di studio</button>

    </form>
  </div>
</div>

<hr style="border: 2px solid black; margin: 10px 12px">
<!--TABELLA IN CUI VENGONO INSERITI I TASK----->
<div class="container-fluid tabella">
  <table class="table mb-4">
    <thead>
      <tr>
        <th scope="col">Titoli</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let titolo of users.titoli">
        <td>{{titolo.titolo}}</td>
      </tr>
    </tbody>
  </table>

<!--BUTTON PER INVIARE I DATI-->
<button [routerLink]="['/dettagli-profilo']" [queryParams]="{ titoli: users.titoli }" routerLinkActive="active" class="btn btn-aggiungi">Visualizza dettagli</button>
</div>


<div *ngIf="competenzeAggiunte">
  <p>Competenze aggiunte con successo!</p>
  <p>Verrai reindirizzato alla pagina di dettaglio del profilo.</p>
</div>

