<app-navbar></app-navbar>

<h1>IL DIABETE</h1>
<div>
  <p>
    Il diabete mellito è una malattia cronica caratterizzata da un eccesso di zuccheri (glucosio) nel sangue, nota come iperglicemia. Si divide in due forme principali: il diabete di tipo 1 e il diabete di tipo 2.
  </p>

  <h3>Cos'è il diabete?</h3>

  <p>L’iperglicemia può essere causata da un’insufficiente produzione di insulina (ossia l’ormone che regola il livello di glucosio nel sangue) o da una sua inadeguata azione.
    Il diabete di tipo 1 è caratterizzato dall’assenza totale di secrezione insulinica, mentre il diabete di tipo 2 è determinato da una ridotta sensibilità dell’organismo all’insulina, normalmente prodotta da parte dei tessuti bersaglio (fegato, muscolo e tessuto adiposo), e/o da una ridotta secrezione di insulina da parte del pancreas (dalle cellule chiamate beta-cellule). Può progressivamente peggiorare nel tempo e si instaura sulla base di una condizione preesistente di insulino-resistenza.
    Il diabete tipo 2 è una malattia ad elevata diffusione in tutto il mondo e la sua prevalenza è in continua crescita.
    Esistono poi altre forme di diabete legate a difetti genetici delle funzione beta cellulare o dell’azione insulinica, malattie del pancreas esocrino, indotto da farmaci o sostanze chimiche, e il diabete “gestazionale” che può insorgere appunto durante la gravidanza.</p>

  <p>Le cardiomiopatie si dividono in tre tipi: dilatative, ipertrofiche, aritmogene e restrittive. Le più comuni sono le cardiomiopatie dilatative, caratterizzate da problemi al ventricolo sinistro che si dilata e non riesce a pompare efficacemente il sangue. Le cardiomiopatie ipertrofiche sono invece associate a una crescita o a un ispessimento anomalo del muscolo cardiaco che compromette la funzionalità del cuore. Nelle forme restrittive, infine, il muscolo cardiaco perde elasticità e si irrigidisce. Fra le possibili complicazioni di una cardiomiopatia sono inclusi lo scompenso cardiaco, la formazione di trombi, problemi alle valvole cardiache, aritmie e morte improvvisa.</p>

  <h3>I sintomi</h3>

  <p>Spesso la presenza di iperglicemia non dà alcun sintomo né segno, per tale motivo il diabete è considerata una malattia subdola. Talvolta i sintomi compaiono quando la malattia è già presente da anni. La sintomatologia classica, nei casi acuti, è caratterizzata da stanchezza, aumento della sete (polidipsia), aumento della diuresi (poliuria) perdita di peso non ricercata, a volte addirittura concomitante all’aumento dell’appetito, malessere, dolori addominali, sino ad arrivare, nei casi più gravi, a confusione mentale e perdita di coscienza.

    La costante presenza di valori di glicemia superiori alla norma aumenta il rischio di complicanze macrovascolari e microvascolari (danno dei vasi sanguigni).
    Le maggiori complicanze derivate dal diabete possono arrecare al paziente diversi danni, che si dividono in:</p>
    <ul>
      <li><b>Neurologici</b> (neuropatia): alterazione anatomica e funzionale del sistema nervoso centrale, periferico e Volontario, deficit sensitivi, motori, visivi, acustici,</li>
      <li><b>Renali</b> (nefropatia): danno alle strutture filtranti del rene (glomeruli e tubuli renali) che può portare in casi estremi alla dialisi (in Italia il 30% dei pazienti in terapia dialitica sono diabetici),</li>
      <li><b>Oculari</b> (retinopatia): causata da iperglicemia cronica e ipertensione che portano ad alterazione dei vasi sanguigni con conseguente peggioramento della vista fino alla cecità,</li>
      <li><b>Cardio-cerebrovascolari</b>: infarto miocardico o cardiopatia ischemica, ictus cerebrale.</li>
    </ul>

  <h3>La diagnosi</h3>
  <p>
    Per diagnosticare il diabete è necessario effettuare un esame del sangue.

La patologia viene riscontrata in presenza di 2 valori di glicemia a digiuno (FPG) maggiori di 126 mg/dl in 2 giornate differenti, o quando il valore dell’emoglobina glicata è > 6.5% e viene riconfermato in un prelievo successivo (almeno 3 mesi dopo), o ancora quando viene individuato un valore casuale > 200 mg/dl in presenza di alcuni sintomi (poliuria, polidipsia, stato confusionale, alterazioni visive o altro ancora).</p>


  <h3>Trattamenti</h3>
  <p>
    Terapia insulinica

E’ inevitabile per curare il diabete di tipo 1. Consiste in iniezioni sottocutanee e grazie a questa terapia e ad un corretto stile di vita la maggior parte dei pazienti riesce a condurre una vita normale e a prevenire l’insorgenza delle complicazioni a lungo termine della malattia.

Terapie per il diabete tipo 2

Il diabete tipo 2 prevede differenti trattamenti rispetto alla terapia insulinica.
Attualmente non esiste un farmaco valido per tutti i pazienti affetti da diabete tipo 2, motivo per cui è necessario, per ogni singolo paziente, costruire una terapia individuale in relazione alla diversa situazione clinica e alle differenti caratteristiche personali. Solo il 10% dei pazienti affetti da diabete tipo 2 però mantiene un buon controllo della patologia metabolica in assenza di trattamento.

Le società diabetologhe internazionali raccomandano, ad ogni modo, i seguenti obiettivi terapeutici, finalizzati non solo a correggere i sintomi ed i segni della malattia ed a prevenire le complicanze acute e croniche, ma anche a migliorare la qualità e l’aspettativa di vita del paziente diabetico:</p>
<ul>
  <li>glicemia a digiuno e pre-prandiale compresa tra 90-130 mg/dl;</li>
  <li>glicemia post-prandiale (circa 2 ore dopo i pasti) inferiore (&lt;) 180 mg/dl;</li>
  <li>emoglobina glicata inferiore (&lt;) 7%.</li>
</ul>
<p>
Oltre agli obiettivi del metabolismo glucidico, il trattamento del diabete prevede:</p>
<ul>
  <li>valori pressori diastolici (pressione minima) &lt;80 mmHg e sistolioci (pressione massima) &lt;130 mmHg;</li>
  <li>valori di colesterolo LDL &lt;100 mg/dl, livelli di HDL >40 mg/dl nell’uomo e >50 mg/dl nella donna.</li>
</ul>

<p>
Sono disponibili, oltre ai trattamenti tradizionali, farmaci innovativi testati a livello internazionale con le metodiche di somministrazione e di terapia educazionale più avanzate, che prevedono il massimo coinvolgimento e il miglior coordinamento fra pazienti e specialisti. Una corretta alimentazione e un’attività fisica costante rappresentano il cardine del trattamento della malattia diabetica.</p>

  <h3>I fattori di rischio e Cause</h3>

  <p>Si riconoscono tra le cause della malattia un’interazione tra fattori genetici (familiarità) e fattori ambientali (vita sedentaria abitudini alimentari e altro).</p>


  <h3>Prevenzione</h3>

  <p>Interventi per migliorare lo stile di vita, che includono attività fisica aerobica di moderata intensità della durata di 20-30 minuti al giorno o 150 minuti alla settimana e perdita di peso corporeo del 10%, riducono l’incidenza del diabete tipo 2 del 60%. Inoltre, la qualità, più che la quantità totale dei nutrienti, deve essere controllata.

    Una dieta ricca di acidi grassi saturi (grassi animali) aumenta il rischio di sviluppare il diabete, mentre la parziale sostituzione di questi ultimi con acidi grassi insaturi lo riduce (i cosiddetti omega 3).

    Uno screening, volto ad identificare la patologia anche nei soggetti asintomatici, viene in genere raccomandato a tutta la popolazione, trattandosi di un semplice esame del sangue (glicemia a digiuno). Esistono tuttavia soggetti maggiormente a rischio, i quali devono mantenere sotto costante controllo il valore della glicemia.

    Rischiano maggiormente di sviluppare il diabete coloro che:</p>
    <ul>
      <li>abbiano riscontrato il valore della glicemia a digiuno compreso tra 100 e 126 mg/dl (alterata glicemia a digiuno),</li>
      <li>manifestano la BMI (body mass index cioè rapporto peso in chili/altezza in m2) con valore >25 kg/m2,</li>
      <li>(indicativo di soprappeso corporeo),</li>
      <li>hanno familiarità di primo grado per diabete tipo 2.</li>
    </ul>

</div>

<app-footer></app-footer>
