<app-navbar></app-navbar>
<main>
  <div class="main">
    <div class="ass-anziani">
      <div class="img">
        <img src="assets/img/telemedicina.jpg">
      </div>
      <div class="img-descrizione">
        <h1>Telemedicina</h1>
        <p>La telemedicina avvicina la medicina specialistica alle persone nello spazio e nel tempo. Attraverso le nuove tecnologie informatiche e di telecomunicazione è di fatti possibile uno scambio di informazioni in real time, ovvero in diretta, permettendo da remoto un’assistenza immediata da parte di uno specialista.</p>
      </div>
    </div>
    <div class="button">
      <button class="btn" href="#servizi-complessi">Servizi complessi</button>
      <button class="btn" href="#apparecchiature">Uso di apparecchiature</button>
      <button class="btn" href="#assistenza-diretta">Assistenza diretta</button>
    </div>
  </div>

  <!-----SERVIZI--------------------------------->
  <!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Servizi complessi</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/ecg-domicilio.webp">
          </div>
          <div class="descrizione">
            <p>Il servizio di telemedicina semplice consiste in un esame veloce di pochi minuti come l’elettrocardiogramma a domicilio.</p>
            <ul>
              <li>ECG elettrocardiogramma a domicilio in modalità remota</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>

  <!--------------------------------------------------------->

    <div id="apparecchiature" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneA container-fluid">
        <h1>Uso di apparecchiature</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/monitor-inf.jpg">
          </div>
          <div class="descrizione">
            <p>L’utilizzo di un HOLTER è una prestazione complessa che richiede una preparazione accurata dell’utente affinché l’esito dell’esame risulti idoneo alla refertazione.</p>
            <ul>
          <li>Holter Pressorio</li>
          <li>Holter Cardiaco</li>
        </ul>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>

<!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Assistenza diretta</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/teleconsulto.jpg">
          </div>
          <div class="descrizione">
            <p>Poi parlare direttamente con un infermiere e richiedere un consulto in teleconferenza attraverso il tuo telefonino.</p>
            <ul>
          <li>Teleconferenza e Teleconsulto</li>
        </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
