<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">BENVENUTO {{user.nome}} {{user.cognome}}!</a> <!--Aggiungere nome dell'utente-->
    <div class="d-flex">
      <a [routerLink]="['/home']" routerLinkActive="active"><i class="bi bi-box-arrow-right"></i></a>
    </div>
  </div>
</nav>

<form (ngSubmit)="submit()" #competenzeForm="ngForm">
  <label for="titolo">Competenza 1:</label>
  <input type="text" id="titolo" [(ngModel)]="competenze.titolo" name="titolo" required>

  <label for="descrizione">Valore 1:</label>
  <input type="text" id="descrizione" [(ngModel)]="competenze.descrizione" name="descrizione" required>

  <!-- Ripeti per chiave2, chiave3, ecc. -->

  <button type="submit">Aggiungi competenze</button>
</form>

<div *ngFor="let item of users.competenze">
  <h2>{{item.titolo}}</h2>
  <p>{{item.descrizione}}</p>


  <!-- QUESTO APPARE SOLO IN MODALITÀ MODIFICA! -->
  <!-- <div *ngIf="modifica===competenza.key">
    <input [(ngModel)]="competenza.titolo">
    <br>
    <input [(ngModel)]="competenza.descrizione">
    <br>
    <button (click)="modificaCompetenza(competenza.key, competenza); modifica=null">Salva modifica</button>
  </div> -->

  <!-- BUTTON ELIMINARE COMPETENZA -->
  <!-- <button (click)="eliminaCompetenza(competenza.key)">Elimina</button> -->

  <!-- BUTTON ELIMINARE COMPETENZA -->
  <!-- <button *ngIf="modifica != competenza.key" (click)="modifica=competenza.key">Modifica</button> -->
</div>

