/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
h2 {
  color: yellow;
  font-weight: 800;
}

div {
  text-align: center;
}

p{
  color: red;
}
