<app-navbar></app-navbar>

<h1>MALATTIE TUMORALI</h1>
<div>

  <p>Con i termini "cancro" e "tumore", si fa riferimento ad una condizione patologica caratterizzata dalla proliferazione non controllata di cellule che hanno la capacità di infiltrarsi nei normali organi e tessuti dell'organismo alterandone la struttura e il funzionamento.
    Il cancro ha anche la capacità di localizzarsi a distanza dalla malattia primitiva, ed in questo caso si parla di malattia secondaria o metastatica. I tumori si dividono in tumori solidi, caratterizzati da una massa compatta di tessuto, e tumori del sangue (es: linfomi e leucemie).</p>

  <h3>Cos'è il cancro?</h3>

  <p>È possibile classificare i tumori in vari modi differenti, a seconda dell'organo nel quale si sviluppano, del tipo di cellule che si vengono a formare, dello stadio al quale si trova la malattia alla diagnosi, dell'aggressività e della possibilità di sviluppo di metastasi.</p>

  <h3>Le cause del cancro</h3>

  <p>Il cancro è causato da mutazioni del DNA all'interno delle cellule. Il DNA cellulare contiene informazioni su come le cellule debbano crescere e moltiplicarsi. Errori in queste istruzioni fanno in modo che la cellula diventi cancerosa.

    Le mutazioni genetiche possono guidare una cellula sana in modo che:</p>
    <ul>
      <li>Si moltiplichi in maniera anormale, creando così un numero maggiore di cellule malate.</li>
      <li>Non contrasti la crescita cellulare anormale: le cellule normali contengono geni chiamati oncosoppressori, che riconoscono la crescita cellulare anomala ed agiscono per fermarla. Quando c'è un errore in questi geni, tale funzione può esserne indebolita o perfino interrotta. Questo permette alle cellule mutate di continuare a crescere e dividersi.</li>
      <li>Commetta errori nella riparazione del DNA: i geni sono in grado di identificare e riparare gli errori eventualmente presenti all'interno del DNA stesso. Una mutazione può comportare che alcuni errori non vengano rilevati, permettendo l'accumulo di differenti mutazioni ed, in ultimo, la comparsa del cancro.</li>
    </ul>
    <p>Le mutazioni genetiche possono essere presenti fin dalla nascita, oppure, in altri casi possono essere causate da virus, infiammazioni croniche o dagli stessi ormoni prodotti dall'organismo. Possono tuttavia essere causate anche da fattori esterni all'organismo, come i raggi ultravioletti (UV), le sostanze chimiche carcinogene o le radiazioni.

      Gli scienziati pensano che sia necessaria la presenza contemporanea di più di una mutazione per dare luogo alla maggior parte dei tumori.
      Alcuni tumori ematologici possono derivare da una singola mutazione, ma la maggior parte di quelli che si formano negli organi interni, come ad esempio polmoni e colon, partono da molte differenti mutazioni. Non è ancora chiaro quante mutazioni si debbano sommare per dar luogo ad un tumore, anche se si pensa che questo vari a seconda del tipo di tumore.

      Le mutazioni genetiche presenti alla nascita si sommano con quelle acquisite nel corso del tempo e danno luogo al cancro. Questo significa che le mutazioni presenti alla nascita sono necessarie ma non sufficienti per lo sviluppo del cancro. Saranno infatti necessarie una o più altre mutazioni per causare il tumore.
      La mutazione genetica rende solo più probabile che una persona sviluppi il tumore se esposta ad altri fattori di rischio. Le mutazioni danno il via al processo, mentre i fattori di rischio giocano un ruolo nello sviluppo della malattia.
      Il cancro si può quindi definire una malattia multifattoriale, in essa giocano un ruolo fondamentale sia le mutazioni genetiche sia i fattori ambientali.</p>

  <h3>I sintomi generali del cancro</h3>
  <p>
    Ogni tipo di tumore ha ovviamente una sua sintomatologia specifica, per la quale si rimanda alle schede delle singole patologie. In ogni caso, alcuni sintomi, specie se presenti contemporaneamente, possono indicare la presenza di una patologia oncologica:</p>
    <ul>
      <li>Fatica persistente</li>
      <li>Noduli o ispessimenti sotto la cute</li>
      <li>Cambiamenti di peso senza apparente motivazione</li>
      <li>Cambiamenti nella pelle come colorito giallo, scuro o arrossato, infiammazioni persistenti , evoluzione nell' aspetto dei nei esistenti</li>
      <li>Variazioni nel funzionamento di intestino e vescica</li>
      <li>Tosse persistente</li>
      <li>Difficoltà a deglutire</li>
      <li>Raucedine</li>
      <li>Difficoltà digestive persistenti, stato di occlusione</li>
      <li>Dolori muscolari o articolari persistenti ed inspiegabili</li>
      <li>Febbre o sudorazioni notturne persistenti ed inspiegabili</li>
   </ul>


  <h3>Diagnosi</h3>
  <p>
    La diagnostica per immagini (TAC, PET, Ecografia, Risonanza Magnetica, Radiografia, ecc.) è solitamente il metodo principale di analisi per la diagnosi dei tumori solidi. Le modalità variano a seconda della sede tumorale che viene ipotizzata. Per i tumori del sangue è spesso sufficiente una semplice analisi del sangue o dei linfonodi. Stadiazione e determinazione del grado di malignità sono spesso affidati all'Anatomia Patologica attraverso l'analisi istologica dei tessuti,spesso integrata da tecniche di biologia molecolare.

Chi accusa sintomi persistenti e preoccupanti, dovrebbe essere visitato dapprima dal medico di medicina generale e, in secondo luogo, dopo i dovuti accertamenti e se ritenuto necessario, anche dal medico specialista oncologo. I soggetti asintomatici che sono preoccupati del rischio di sviluppare una malattia dovrebbero discuterne con il proprio medico chiedendo quali siano i test e le procedure diagnostiche più appropriate per le proprie condizioni.</p>

<h3>Trattamenti</h3>
<p>I trattamenti oncologici variano a seconda della sede che viene identificata come primaria, dello stadio della malattia (secondo il metodo TNM di stadiazione, riconosciuto a livello mondiale), della presenza o meno di malattia secondaria (a distanza) e delle condizioni di salute generale del paziente.
  Possono consistere in terapie di tipo chirurgico, medico (chemioterapia e terapie biologiche) o radioterapico, che possono essere somministrate singolarmente o in maniera combinata.
  Quando la fase di trattamento è terminata, esiste poi un periodo di tempo durante il quale vengono effettuati esami diagnostici e controlli per verificare l'efficacia delle terapie somministrate, detta fase di Follow Up.</p>


</div>

<app-footer></app-footer>
