<app-navbar></app-navbar>
<main>
  <div class="main">
    <div class="ass-anziani">
      <div class="img">
        <img src="assets/img/medicazioni.jpg">
      </div>
      <div class="img-descrizione">
        <h1>Medicazioni a domicilio</h1>
        <p>Eseguire una medicazione sembra cosa semplice, ma un professionista può fare la differenza nei tempi di cura e guarigione. Scopri tutti i nostri servizi di medicazioni a domicilio.</p>
      </div>
    </div>
    <div class="button">
      <button class="btn" href="#servizi-semplici">Servizi semplici</button>
      <button class="btn" href="#servizi-complessi">Servizi complessi</button>
      <button class="btn" href="#apparecchiature">Uso di apparecchiature</button>
      <button class="btn" href="#assistenza-diretta">Assistenza diretta</button>
    </div>
  </div>

  <!-----SERVIZI--------------------------------->
  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Servizi semplici</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/med-semplice.jpg">
          </div>
          <div class="descrizione">
            <p>La medicazione semplice è quella medicazione che si effettua su abbrasioni, lievi tagli superficiali o escoriazioni, possono sembrare facili da eseguire ma devono comunque sottostare ad un principio di sterilità che va mantenuto costantemente. Questo al fine di evitare delle sovrainfezioni che tarderebbero il processo di guarigione o lo complicherebbero maggiormente. I bendaggi semplici fanno parte di questa categoria.</p>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>
  <!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Servizi complessi</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/med-complesse.jpg">
          </div>
          <div class="descrizione">
            <p>La medicazione complessa è quella medicazione che risulta essere più impegnativa e dove il professionista fa la differenza con il suo sapere. Si effettua su lesioni da pressione del secondo, terzo e quarto grado, su amputazioni, su ferite deiescenti, su tagli profondi e/o a margini sfrangiati. Anche i bendaggi complessi fanno parte di questa categoria.</p>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>

  <!--------------------------------------------------------->

    <div id="apparecchiature" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneA container-fluid">
        <h1>Uso di apparecchiature</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/vac.jpg">
          </div>
          <div class="descrizione">
            <p>L’utilizzo di apparecchiature nelle medicazioni di difficile guarigione è a volte indicato e consigliato da alcuni specialisti. La VAC therapy è quella apparecchiatura che attraverso una pressione topica negativa serve a facilitare il processo di guarigione. Esistono ditte che lo offrono anche a noleggio, i nostri infermieri le posizionano a domicilio attuando un piano di cura individuale qualora necessario.</p>
          </div>

        </div>
      </div>
    </div>
    <hr>
  </div>

<!--------------------------------------------------------->

  <div id="#servizi-complessi" class="servizi-semplici container-fluid">
    <div class="semplici container-fluid">
      <div class="sezioneB container-fluid">
        <h1>Assistenza diretta</h1>
        <div class="immagine-descrizione">
          <div class="img">
            <img src="assets/img/teleconsulto.jpg">
          </div>
          <div class="descrizione">
            <p>Poi parlare direttamente con un infermiere e richiedere un consulto in teleconferenza attraverso il tuo telefonino.</p>
            <ul>
          <li>Teleconferenza e Teleconsulto</li>
        </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
