<app-navbar></app-navbar>

<h1>COVID - 19</h1>
<div>

  <h3>Informazioni generali</h3>

  <p>COVID-19 è il nome della malattia da nuovo coronavirus: “CO” indica corona, “VI” virus, “D” significa disease (malattia in inglese) e 19 si riferisce al 2019, l’anno della sua comparsa.

    Il nuovo Coronavirus SARS-CoV-2 è un virus respiratorio che appartiene alla grande famiglia dei coronavirus (CoV); il nome Coronavirus deriva dalla presenza di punte a forma di corona sulla superficie del virus.

    I coronavirus possono rendersi responsabili di diverse patologie di entità variabile: dal raffreddore a sindromi respiratorie più serie come la MERS (sindrome respiratoria mediorientale, Middle East respiratory syndrome) e la SARS (sindrome respiratoria acuta grave, Severe acute respiratory syndrome).</p>

  <h3>I sintomi</h3>

  <p>COVID-19 può manifestarsi con sintomi quali febbre, tosse, mal di gola, mal di testa, naso che cola, debolezza, affaticamento e dolore muscolare; in alcuni casi si presenta in maniera seria e grave (con polmonite, insufficienza respiratoria, sepsi e shock settico, che possono portare anche alla morte).

    Alcuni soggetti possono invece essere asintomatici, ma sono comunque contagiosi e possono trasmettere il virus.

    Il periodo di incubazione, ovvero il tempo che passa tra il contagio e la manifestazione dei sintomi, si stima duri dai 2 agli 11 giorni, fino a un massimo di 14 giorni.

    I sintomi più comuni di COVID-19 sono:</p>
    <ul>
      <li>Febbre pari o superiore a 37,5°C e brividi</li>
      <li>tosse di recente comparsa</li>
      <li>difficoltà respiratorie</li>
      <li>perdita improvvisa dell’olfatto (anosmia) o diminuzione dell’olfatto (iposmia), perdita del gusto (ageusia) o alterazione del gusto (disgeusia)</li>
      <li>mal di gola</li>
      <li>Naso che cola</li>
      <li>diarrea (soprattutto nei bambini).</li>
    </ul>
    <p>Le persone con più di 70 anni, chi soffre di alcune patologie (per esempio ipertensione arteriosa, problemi cardiaci, diabete, malattie respiratorie croniche, cancro) e i pazienti immunodepressi (per patologia congenita o acquisita, trapiantati o in trattamento con farmaci immunosoppressori) sviluppano prevalentemente forme gravi di malattia.

    In presenza di sintomi è fondamentale rimanere a casa, limitando il più possibile il contatto anche con i conviventi e consultare il proprio medico di medicina generale (o il pediatra in caso di minori) che valuterà la prescrizione del tampone.

    In presenza di alcuni segni clinici importanti occorre consultare il medico di medicina generale e valutare insieme l’opportunità di una verifica in ospedale. I segni da non sottovalutare sono:</p>
    <ul>
      <li>febbre superiore a 37,5 per più di 5 giorni; con particolare attenzione a consultare il proprio medico anche prima dei 5 giorni laddove la temperatura sia superiore a 39</li>
      <li>dolori respiratori</li>
      <li>forte stanchezza</li>
      <li>saturimetria – ovvero il livello di ossigenazione del sangue – inferiore a 94</li>

    </ul>

  <h3>La diagnosi</h3>
  <p>
    Per confermare la diagnosi di COVID-19 è necessario sottoporre il paziente a esami specifici di laboratorio secondo i protocolli “Real Time PCR” per SARS-CoV-2 stabiliti dall’Organizzazione Mondiale della Sanità.</p>
<p>
    <b>Il tampone per il test molecolare</b>

    Il test più affidabile per la diagnosi di infezione da SARS-CoV-2 è il test molecolare che viene eseguito su un campione delle vie respiratorie prelevato attraverso il cosiddetto tampone.

    Il paziente viene sottoposto a un tampone naso/oro-faringeo: un esame rapido, minimamente invasivo e indolore (sebbene il paziente possa avvertire una sensazione di fastidio al momento del contatto del bastoncino con la mucosa del naso e del cavo orale), volto a prelevare con un bastoncino cotonato un campione del muco che riveste le cellule superficiali della mucosa del rinofaringe (la parte superiore del canale della faringe) e dell’orofaringe (la parte della faringe posta dietro al cavo orale). L’analisi del campione permette poi di verificare la presenza del virus e di confermare o escludere una diagnosi di infezione.

    Con un ruolo complementare a quello del tampone, anche la TAC può fornire informazioni molto importanti per individuare nelle fasi iniziali questi pazienti. Una TAC senza mezzo di contrasto ed eseguita con tecnica tradizionale è in grado di cogliere i segni polmonari della malattia in fase precoce e fornisce informazioni altamente specifiche per il coronavirus perché i segni presenti in TAC sono ben identificabili.
</p>
<p>
    <b>I test rapidi antigenici</b>

    I test rapidi antigenici ricercano le proteine superficiali del virus (antigeni) e non il genoma virale (come accade invece con il test molecolare).

    Il campione viene raccolto attraverso un tampone naso-faringeo e i tempi di risposta sono molto brevi (circa 15-30 minuti, mentre per il test molecolare servono circa 24-48 ore). La sensibilità e la specificità del test rapido sembrano inferiori rispetto a quelle del test molecolare, pertanto chi risulta positivo al test rapido dovrebbe poi sottoporsi al test molecolare per veder confermata la diagnosi di infezione ed escludere si sia trattato di un cosiddetto falso-positivo.

    Il test rapido ha una valida applicazione nel campo dello screening, ma non può essere considerato un test diagnostico in ambito clinico perché presenta dei limiti importanti: è possibile, infatti, che si ottengano dei “falsi negativi” e che dunque pazienti che risultino negativi al test siano in realtà positivi.
</p>
<p>
    <b>Il test sierologico</b>

    I test sierologici si basano sull’analisi del sangue del paziente: possono essere rapidi (è sufficiente una goccia di sangue) o quantitativi (occorre un prelievo di sangue).

    I test sierologici qualitativi rapidi consentono di scoprire se il paziente è entrato in contatto con il virus e il suo sistema immunitario ha pertanto prodotto anticorpi di risposta. I test sierologici quantitativi invece consentono un dosaggio specifico degli anticorpi prodotti.

    Gli anticorpi coinvolti sono le immunoglobuline IgM (le prime a essere prodotte in caso di infezione) e IgG (succedono alle IgM quando il livello delle prime scende). Se nel campione di sangue vengono rilevate le IgG significa che l’infezione è avvenuta in passato. A oggi non è ancora chiaro se un soggetto con anticorpi IgG sia immune.

    Il test sierologico dunque evidenzia la presenza di anticorpi contro il virus e indica l’eventuale avvenuta esposizione a SARS-CoV-2; la positività è tardiva e quindi non è un test indicato per rilevare un’infezione in corso. Pertanto non può sostituire il test molecolare (il tampone) per verificare o meno la positività di un soggetto. Questo tipo di test può essere utile in campo epidemiologico per stimare la diffusione dell’infezione all’interno di una comunità.
  </p>

  <h3>Gestire la malattia</h3>
  <p>
    La prevenzione di COVID-19 è possibile attraverso l’adozione di alcune norme:</p>
<ul>
  <li>Starnutire e tossire in un fazzoletto o coprendo bocca e naso con l’incavo del gomito.</li>
  <li>Buttare via i fazzoletti di carta utilizzati immediatamente dopo l’uso.</li>
  <li>Lavare le mani spesso e accuratamente con acqua e sapone per almeno 20 secondi (o con disinfettante per mani a base di alcol al 60%) e in ogni caso sempre dopo aver starnutito, tossito o soffiato il naso.</li>
  <li>Evitare di toccare bocca, naso e occhi.</li>
  <li>Disinfettare le superfici e gli oggetti che si usano di frequente (smartphone, computer, auricolari) con disinfettanti contenenti alcol (etanolo) al 75% o a base di cloro all’1% (candeggina).</li>
  <li>Mantenere almeno un metro di distanza dalle altre persone, evitare strette di mano e altri contatti ravvicinati ed evitare ogni forma di assembramento.</li>
  <li>Rimanere a casa e uscire solo per motivi di lavoro, salute o per fare la spesa.</li>
  <li>    Usare la mascherina al chiuso e all’aperto.
  </li>

</ul>


</div>

<app-footer></app-footer>
