<app-navbar></app-navbar>

<h1>INSUFFICIENZA RENALE</h1>
<div>

  <h3>Cos'è l'insufficienza renale?</h3>

  <p>L'insufficienza renale è quella condizione in cui i reni non riescono più a svolgere la propria funzione, che consiste nella regolazione dell'equilibrio idrico e salino, nell'eliminazione di acidi e scorie dall'organismo e nella produzione di ormoni (come l'eritropoietina).</p>

<h3>Esistono differenti tipi di insufficienza renale</h3>
<p>Quando l'insufficienza renale si sviluppa rapidamente, da poche ore a pochi giorni, viene definita come "acuta"  ed è una condizione potenzialmente letale. Generalmente, se riconosciuta e trattata adeguatamente, può essere reversibile.

  Quando invece l'insufficienza renale si sviluppa lentamente (nel corso di mesi o anni), viene definita come cronica. Essa è una condizione irreversibile e i sintomi si manifestano solo tardivamente, quando la malattia è già avanzata. In linea generale, si può rallentare l'evoluzione di questa condizione ma, se essa giunge al suo stadio più avanzato, rende necessario
  l'utilizzo della dialisi o il trapianto di rene.</p>


  <h3>I sintomi</h3>

  <p>I sintomi dell'insufficienza renale acuta sono:</p>
    <ul>
      <li>Una riduzione del volume delle urine, anche se, in alcuni casi, esso potrebbe non subire variazioni.</li>
      <li>Ritenzione idrica, che si manifesta con gonfiore di gambe, caviglie o piedi.</li>
      <li>Sonnolenza</li>
      <li>Fiato corto, se i liquidi si accumulano nei polmoni (edema polmonare)</li>
      <li>Affaticamento</li>
      <li>Confusione mentale</li>
      <li>Convulsioni o coma (nei casi più gravi)</li>
    </ul>
    <p>
      I sintomi dell'insufficienza renale cronica si sviluppano gradualmente nel tempo e possono essere confusi con quelli di altre patologie. Solitamente diventano evidenti solo quando i danni sviluppati sono difficilmente reversibili, e possono comportare:
    </p>
    <ul>
      <li>Nausea e vomito</li>
      <li>Perdita di appetito</li>
      <li>Affaticamento e debolezza</li>
      <li>Difficoltà nel prendere sonno</li>
      <li>Riduzione nella quantità di urina prodotta (soprattutto quando la malattia è già avanzata)</li>
      <li>Confusione mentale</li>
      <li>Contrazioni muscolari involontarie</li>
      <li>Gonfiore a piedi e caviglie</li>
      <li>Prurito persistente</li>
      <li>Fiato corto, se i liquidi si accumulano nei polmoni (edema polmonare)</li>
      <li>Ipertensione</li>
    </ul>

  <h3>La diagnosi</h3>
  <p>
    La diagnosi dell'insufficienza renale può essere effettuata attraverso:</p>
    <ul>
      <li>Esami del sangue e delle urine</li>
      <li>Scintigrafia</li>
      <li>Ecografia</li>
      <li>In alcuni casi, biopsia renale</li>
    </ul>


  <h3>Trattamenti</h3>
  <p>
    n caso di insufficienza renale acuta è imperativo eliminare la causa scatenante (ad esempio disidratazione, infezione, farmaci etc). Collateralmente, è  fondamentale riconoscere e trattare le complicanze dell'insufficienza renale che possono
    diventare pericolose per il paziente. Fra queste: l'edema polmonare, l'acidosi (una condizione di eccessiva acidità del sangue) e l'iperpotassiemia (un'elevata concentrazione di potassio che può essere tossica per il cuore). A questo scopo è utile:</p>
<ul>
  <li>Bilanciare i fluidi corporei: il medico può raccomandare, a seconda del caso, la somministrazione di liquidi o di farmaci diuretici</li>
  <li>Farmaci o utilizzo di soluzioni endovenose per controllare i livelli di potassio e acidi nel sangue</li>
  <li>Dialisi temporanea, allo scopo di rimuovere le tossine eventualmente accumulate, quando la terapia medica non è più sufficiente</li>
</ul>
<p>
  Nel caso di insufficienza renale cronica è compito del medico rallentare il decorso della malattia stessa, controllando una serie di fattori che si sono dimostrati responsabili di un accelerata progressione. Tra questi:</p>
<ul>
  <li>Controllo e terapia della malattia di base (ad esempio la glomerulonefrite)</li>
  <li>Controllo della pressione arteriosa</li>
  <li>Controllo della glicemia nei pazienti diabetici</li>
  <li>Controllo dell'acidosi</li>
  <li>Dieta ipoproteica in casi selezionati</li>
  <li>Controllo dei farmaci assunti dal paziente, con l'attenzione volta ad evitare i cosiddetti farmaci nefrotossici (come, ad esempio, i farmaci anti-infiammatori) che possono far peggiorare la funzione renale.</li>
  <li>Prevenzione della nefrotossicità da mezzo di contrasto in occasione di alcune procedure radiologiche</li>
</ul>

<p>
  In quest'ambito, il medico è tenuto a riconoscere e trattare altre complicanze dell'insufficienza renale cronica, fra cui:</p>
  <ul>
    <li>L'anemia, con la supplementazione di ferro e, eventualmente, l'utilizzo di eritropoietina</li>
    <li>La malattia minerale-ossea, tramite il controllo del bilancio calcio-fosforo e dell'acidosi</li>
  </ul>
  <p>
    Nei casi molto gravi di insufficienza renale, in cui la terapia medica non è più sufficiente a garantire l'equilibrio dell'organismo, diventa necessario il ricorso alla dialisi o al trapianto.
  </p>

  <h3>I fattori di rischio e Cause</h3>

  <p>Si riconoscono tra le cause della malattia un’interazione tra fattori genetici (familiarità) e fattori ambientali (vita sedentaria abitudini alimentari e altro).</p>



</div>

<app-footer></app-footer>
