
<!---------------------2 SECONDI DI CARICAMENTO------------------------------>
<div *ngIf="caricato" class="loading-container">
  <h2 class="loading-message">Caricamento della pagina...</h2>
</div>

<!---------------------DOPO 2 SEC MOSTRA IL FORM------------------------------>

<div *ngIf="!caricato">

  <div class="container mt-3">
    <form>
      <h1 class="text-center">Todo List</h1>

      <div class="row mb-3">
        <div class="col-3"></div>
        <div class="col-5">

          <!--METODO PER CATTURARE INPUT 1-->
          <!-- <input type="text" class="form-control" id="task" #titleInput>  -->
          <!--variabile template che verrà presa quando c'è click sul button-->
          <!-- </div>
          <div class="col-1">
          <button type="submit" class="btn btn-primary" (click)="addTask(titleInput)">Add</button> -->
          <!--Al clicl prendo #titleInput con il metodo getInput()-->

          <!--METODO PER CATTURARE INPUT 2-->
          <input type="text" class="form-control" placeholder="Aggiungi un task..." required [(ngModel)]="newInput" name="newInput">
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-primary" (click)="addNewTask()">Add</button>
          </div>
          <div class="col-3"></div>
        </div>
    </form>
  </div>

<!---------------------TABELLA DEI TASK------------------------------>

  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <table class="table" style="width: 70%;">
          <thead>
            <tr class="text-center">
              <th scope="col">Id</th>
              <th scope="col">Task</th>
              <th scope="col">Completed</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of todos" class="text-center"> <!--per ogni todo dell'array todos-->
              <td>{{ todo.id }}</td>
              <td>{{ todo.title }}</td>
              <!--ngModel collega il valore booleano di completed alla checkbox. Quindi qualsiasi cambiamento dello stato della checkbox si rifletterà automaticamente nel valore completed e viceversa. L'evento (ngModelChange) è associato alla funzione completedTodo() che viene chiamata ogni volta che lo stato della checkbox cambia.-->
              <td>  <input class="form-check-input" type="checkbox" [(ngModel)]="todo.completed" (ngModelChange)="toggledCheckbox(todo)"></td>
              <td><button class="btn btn-danger btn-sm" (click)="deleteTask(todo)">Delete</button></td>
            </tr>
          </tbody>
        </table>

        <!-- <div class="alert alert-info mb-1" *ngIf="messaggioRecuperoTask">Ricerca Task in corso...</div>
        <div class="alert alert-danger mb-1" *ngIf="messaggioNoTask">Ops... devi aggiungere una task!</div>
        <div class="alert alert-info mb-1" *ngIf="aggiuntaTask">Aggiunta in corso...</div> -->

      </div>
    </div>
  </div>
</div>

<!----------------------------------------------------------------------------------->
