@media (min-width: 600px){
  .jss69 {
    width: auto;
    // max-width: 500px;
  }
}

*, ::before, ::after {
  box-sizing: inherit;
}

.jss69{
  display: flex;
  justify-content: space-between;
}


.jss75 {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
}

.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}
.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.jss90 {
  width: 100%;
}

.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}


.MuiInputLabel-formControl {
  top: 0;
  left: 0;
  position: relative;
  margin-left: 8px;
}
.MuiInputLabel-root {
  color: #505D6D;
  display: block;
  font-size: 16px;
  transform: translate(1px, 0px);
  font-weight: 700;
  line-height: 22px;
  transform-origin: top left;
}
.MuiFormLabel-root {
  // color: #505D6D;
  padding: 0;
  font-size: 1.125rem;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
}

// .jss89 .MuiInputBase-root {
//   height: 64px;
// }
// .jss90 .MuiInputBase-root, .jss90 .MuiInputAdornment-positionStart, .jss90 .MuiInputAdornment-positionEnd {
//   margin-top: 0;
// }
.jss90 .MuiInputBase-root {
  height: 64px;
  background-color: #FFF;
}
// .MuiInputLabel-root + .MuiInput-formControl {
//   margin-top: 2px;
// }
// .jss89 .MuiInputBase-root {
//   height: 64px;
// }
// .jss90 .MuiInputBase-root, .jss90 .MuiInputAdornment-positionStart, .jss90 .MuiInputAdornment-positionEnd {
//   margin-top: 0;
// }
.jss90 .MuiInputBase-root {
  height: 64px;
  background-color: #fff;
}

.MuiInput-root {
  border: 1px solid #CCD1D6;
  position: relative;
  min-height: 48px;
  border-radius: 12px;
}

.MuiInput-root:hover{
  border-color: #755e9c;
}

.MuiInputBase-root {
  color: #172C42;
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1.125rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
}

.jss89 input[type="number"] {
  padding-top: 18px;
}
.jss83 input[type="number"] {
  appearance: textfield;
}
.jss89 input[type="number"] {
  padding-top: 18px;
}
.jss83 input[type="number"] {
  appearance: textfield;
}

.jss90 .MuiInput-input {
  color: #172C42;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding-top: 18px;
  padding-left: 16px;
  padding-bottom: 0;
}

.jss90 .MuiInput-input {
  color: #172c42;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  padding-left: 16px;
}
.MuiInput-input {
  color: #172C42;
  font-size: 18px;
  caret-color: #083093; //colore della stanghetta che indica dove scrivi
  font-weight: normal;
  border-radius: 12px;
}

.MuiInput-input:focus{
  outline: none;
}

.MuiInputBase-input {
  color: currentColor;
  width: 100%;
  border: 0;
  height: 2.3em;
  margin: 0px;
  display: block;
  min-width: 0;
  background: none;
  box-sizing: content-box;
}

//LOGO
.MuiInputAdornment-positionEnd {
  height: 100%;
  margin-left: 0;
  padding-top: 8px;
  margin-right: -9px;
  padding-right: 0;
  padding-bottom: 8px;
  background-color: rgba(0,0,0, 0);
}

.MuiInputAdornment-root {
  height: 100%;
  display: flex;
  max-height: 2em;
  align-items: center;
  margin-left: 0;
  white-space: nowrap;
  margin-right: 8px;
  background-color: rgba(0,0,0, 0);
}

.MuiInput-root svg {
  margin-right: 16px;
}
.MuiInput-root svg {
  margin-right: 16px;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(.4,0,.2,1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.MuiInputAdornment-root {
  white-space: nowrap;
}

//BUTTON SEARCH

.jss78 {
  padding-top: 8px;
}

.jss78 .MuiButton-root {
  width: 100%;
}
.jss78 .MuiButton-root {
  width: 100%;
}
.MuiButton-sizeLarge {
  width: 200px;
  height: 56px;
  padding: 14px 16px !important;
  font-size: 1.3125rem;
  line-height: 28px;
  border-radius: 28px;
}
.MuiButton-containedSizeLarge {
  padding: 8px 22px;
  font-size: 0.9375rem;
}
.MuiButton-containedPrimary {
  color: #FFF;
  border: 1px solid #755e9c;
  box-shadow: none !important;
  background-color: #755e9c;
  transition-duration: 300ms;
}



