<app-navbar></app-navbar>
<div class="sfondo d-flex align-items-center m-0 p-0">
  <div class="form-box m-auto">
    <form class="form">
      <span class="subtitle text-white"
        >Accedi</span
      >
      <div class="form-container">
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="e-mail"
          required
          [(ngModel)]="email"
        />
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
          required
          [(ngModel)]="password"
        />
      </div>

      <button type="submit" (click)="accedi()">Accedi</button>
    </form>
    <div class="form-section">
      <p class="text-dark">
        Non hai un account?
        <a
          class="nav-link regisrati"
          style="color: #1d1f61"
          [routerLink]="['/register']"
          routerLinkActive="active"
          >Registrati</a
        >
      </p>
    </div>
  </div>
</div>
