<app-navbar></app-navbar>
<main>
  <div class="container-fluid cont-chisiamo">
    <div class="chi-siamo">
      <h1>Assistenza Qualificata e Certificata</h1>
      <h5>Abbiamo creato una rete di professionisti con l'intento di raggiungervi ovunque voi siate: sono gli infermieri di famiglia che conoscono il territorio.</h5>
    </div>
    <div class="rete">
      <div class="portale">
        <h3>Infermieri iscritti all'ordine</h3>
        <p>
          Per garantire un’assistenza qualificata e certificata, gli infermieri iscritti che arriveranno a casa tua sono infermieri iscritti all’ordine professionale della tua provincia. Potrai verificare tu stesso alla pagina della Federazione Nazionale (FNOPI), nella RICERCA ALBO, inserendo il nome e il cognome dell’infermiere che verrà a farti visita.
          </p>
      </div>
      <div class="territorio">
        <h3>Infermieri Selezionati</h3>
        <p>Gli infermieri vengono selezionati dal nostro portale solamente se hanno tutti i requisiti necessari per esercitare la professione infermieristica a domicilio e dopo l’acquisizione dei documenti che attestino l’autenticità delle dichiarazioni al momento dell’iscrizione del professionista.</p>
      </div>
    </div>

  </div>
</main>

<app-footer></app-footer>
