<app-navbar></app-navbar>

<h1>BPCO: BRONCOPNEUMOPATIA OSTRUTTIVA CRONICA</h1>
<div>

  <h3>Informazioni generali</h3>

  <p>La broncopneumopatia cronica ostruttiva (Bpco) è una malattia dell'apparato respiratorio caratterizzata da un'ostruzione irreversibile delle vie aeree, di entità variabile a seconda della gravità. La malattia (nota in inglese come Copd, Chronic obstructive pulmonary disease) è solitamente progressiva ed è associata a uno stato di infiammazione cronica del tessuto polmonare. La conseguenza a lungo termine è un vero e proprio rimodellamento dei bronchi, che provoca una riduzione consistente della capacità respiratoria.</p>

  <p>Ad aggravare questo quadro clinico è l’aumento della predisposizione alle infezioni respiratorie di origine virale, batterica o fungina. Non esiste al momento una cura efficace, ma sono disponibili diversi trattamenti per controllare i sintomi e per evitare pericolose complicanze. Fondamentale è invece la prevenzione, per ridurre al minimo i fattori di rischio (fumo di sigaretta in primis).</p>

  <h3>I sintomi</h3>

  <p>Prima della diagnosi, i due sintomi principali della Bpco sono la tosse e la dispnea, qualche volta accompagnati da respiro sibilante. Spesso la tosse è cronica, più intensa al mattino e caratterizzata dalla produzione di muco. La dispnea compare gradualmente nell'arco di diversi anni e nei casi più gravi può arrivare a limitare le normali attività quotidiane. In genere, queste persone sono soggette a infezioni croniche dell'apparato respiratorio, che occasionalmente provocano ricadute accompagnate da una sintomatologia aggravata. Con il progredire della malattia questi episodi tendono a divenire sempre più frequenti.</p>

  <h3>La diagnosi</h3>
  <p>
  Il principale strumento diagnostico per la Bpco è la spirometria, che permette di misurare la capacità polmonare residua.

  La malattia è stata classificata in quattro diversi livelli di gravità:

      stadio 0: soggetto a rischio, che presenta tosse cronica e produzione di espettorato. La funzionalità respiratoria risulta ancora normale alla spirometria
      stadio I: malattia lieve, caratterizzata da una leggera riduzione della capacità respiratoria
      stadio II: malattia moderata, caratterizzata da una riduzione più consistente della capacità respiratoria e da dispnea in caso di sforzo
      stadio III: malattia severa caratterizzata da una forte riduzione della capacità respiratoria oppure dai segni clinici di insufficienza respiratoria o cardiaca.
  </p>

  <h3>Gestire la malattia</h3>
  <p>
  Non esiste una cura efficace per la Bpco che consenta di ripristinare la funzionalità respiratoria perduta. Esistono comunque tutta una serie di trattamenti per gestire la malattia e consentire di raggiungere i seguenti obiettivi:

      prevenire la progressione della malattia
      ridurre i sintomi
      migliorare la capacità sotto sforzo
      migliorare lo stato di salute generale
      prevenire e trattare le complicanze
      prevenire e trattare l'aggravarsi della malattia
      ridurre la mortalità.

  I farmaci più indicati per la Bpco sono i broncodilatatori, somministrati per via inalatoria, che sono in grado di dilatare le vie aeree e garantire così il maggior flusso possibile di aria. In caso di forme gravi o acute, si possono usare antinfiammatori potenti come cortisone e suoi derivati, evitandone però l'uso prolungato a causa dei pesanti effetti collaterali. Ai pazienti si raccomanda anche di vaccinarsi regolarmente contro malattie come l'influenza o la polmonite da pneumococchi, che potrebbero aggravare una funzionalità polmonare già fortemente compromessa.

  Accanto ai farmaci, esistono altre possibilità terapeutiche, come per esempio l'ossigenoterapia, ovvero la somministrazione di ossigeno puro, e la ventilazione meccanica, che supplisce all'insufficiente attività respiratoria. Inoltre ai pazienti viene consigliato di controllare il peso, per non affaticare ulteriormente il sistema respiratorio, e di praticare una serie di esercizi specifici per tenere in attività i muscoli del respiro.
  </p>

  <h3>I fattori di rischio</h3>

  <p>Esistono diversi fattori di rischio, alcuni individuali, altri di origine ambientale. Tra i fattori individuali, ci sono molti geni che si ritiene possano essere associati all'insorgenza della Bpco. Al momento, i dati più significativi in proposito sono quelli relativi al deficit di alfa1-antitripsina, una condizione ereditaria piuttosto rara caratterizzata dalla carenza di questa proteina epatica che normalmente protegge i polmoni. Ci sono poi alcune patologie respiratorie complesse che possono contribuire allo sviluppo della malattia, in particolare l'asma e l'ipersensibilità bronchiale.



  Tra i fattori ambientali, numerosi studi indicano che il principale fattore di rischio per lo sviluppo della Bpco è il fumo di tabacco, in particolare quello di sigaretta (meno quello di sigaro e pipa), che accelera e accentua il decadimento naturale della funzione respiratoria. Anche il fumo passivo può contribuire parzialmente allo sviluppo della malattia, in quanto favorisce l'inalazione di gas e particolato. Gioca un ruolo determinante anche l'esposizione a polveri, sostanze chimiche, vapori o fumi irritanti all'interno dell'ambiente di lavoro (per esempio silice o cadmio).

  Altri fattori di rischio, seppure meno influenti, associati allo sviluppo della Bpco sono l'inquinamento dell’aria: non solo quello atmosferico causato da smog e polveri sottili, ma anche quello presente all'interno degli ambienti chiusi (provocato dalle emissioni di stufe, apparecchi elettrici, impianti di aria condizionata ecc.). Infezioni respiratorie come bronchiti, polmoniti e pleuriti possono predisporre infine al deterioramento dei bronchi.</p>

</div>

<app-footer></app-footer>
